# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
ENV/
env/
*.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
